@import url('https://fonts.googleapis.com/css?family=Bitter');


body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: 'Bitter', serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  align-content: center;
  color: #7328FF;
  background-color: #141310;
}

h1 {
  color: #7328FF;
  padding: 20px 0px 10px 0px;
  text-decoration: underline none;
  text-decoration-style: none;
  text-shadow: 2px 2px none;
  transform: rotate(0deg);
}
/*
body {
  background-image: none;
  background-color: none;
  border-top: 15px solid #7328FF;
  border-bottom: 15px solid #7328FF;
  border-left: 15px solid #7328FF;
  border-right: 15px solid #7328FF;
}
*/
a {
  color: #7328FF;
  text-decoration: none;
}

img {
  display: block;
  margin: 0px auto;
}

.portfolio-item {
  margin-top: 60px;
  margin-left: 155px;
  margin-right: 155px;
  padding: 40px;
  background-color: #FFFFFF;
}

/*  Creates box layout model to all elements, but allowing components to change */
  * {
    box-sizing: border-box;
  }

  /* Create three equal columns that float next to each other */
    .column {
      float: left;
      width: 33.33%;
      padding: 10px;
    }

  /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

  /* Styles the description text under each  */
    .desc {
      padding: 10px;
      font-size: 14pt;
      text-align: center;
    }
